﻿@{
    ViewData["Title"] = "Home Page";
}
@model McCauley.CodeChallenges.StackOverflow.Web.ViewModels.RecentQuestions.PageViewModel

<div class="container-fluid">
    <table class="table table-striped table-responsive">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var question in Model.Questions)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Home" asp-action="Question" asp-route-id="@question.QuestionId" class="btn btn-link">@question.QuestionId</a>
                </td>
                <td>@(question.Title)</td>
                <td>
                    <a target="_blank" href="@question.Link" class="btn btn-link">Stack Overflow</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>