﻿
@model McCauley.CodeChallenges.StackOverflow.Web.ViewModels.QuestionDetails.QuestionDetailViewModel
<h4>@Model.Title</h4>

<div class="row">
    <div class="col">
        @Html.Raw(Model.Body)
    </div>
</div>
<hr />
@foreach (var answer in Model.Answers)
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span>Is this the accepted answer?</span>
                    <button class="btn btn-primary btn-sm" data-choose-btn="@Url.Action("GuessAnswer", new { chosenAnswerId = answer.AnswerId, questionId = Model.QuestionId })" data-answer-id="@answer.AnswerId">Choose</button>
                    <span data-answer-text="@answer.AnswerId" class="text-success" style="display: none">This is the text that will show if it was success</span>
                </div>
                <div class="card-body">
                    @Html.Raw(answer.Body)
                </div>
            </div>
        </div>
    </div>
    <hr />
}
@section Scripts
{ 
    <script type="text/javascript" src="~/js/question-details.js"></script>
}